@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html {
  height: 100%; /* esto junto con las especificaciones de body, para fijar el footer al fondo, sino, quedaba flotando, pero es más que nada legacy browsers*/
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  background: #ffebcd;
}

/*------------------------------------------INICIO HEADER----------------------------------------------------*/
header {
  position: absolute; /*Deja el header arriba*/
  display: block;
  width: 100vw;
  height: 70px;
  background: #b38c9c;
  top: 0px;
}

.logo {
  position: absolute;
  width: 54px;
  height: 56px;
  left: 49px;
  top: 7px;
  cursor: pointer;
}

.name-kitty {
  position: absolute;
  width: 399px;
  height: 50px;
  left: 49px;
  top: 13px;
  font-family: "Bevan";
  font-style: normal;
  font-weight: 800;
  font-size: 37px;
  line-height: 51px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  vertical-align: middle;
  position: top;
  cursor: pointer;
  margin-left: 70px;
}

.button-account {
  position: absolute;
  right: 25px;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #328989;
  cursor: pointer;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  width: 132px;
  height: 37px;
  top: 17px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 5px;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-account:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-account:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-account:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

/*------------------------------------------INICIO CONTENT------------------------------------------------------*/
.container {
  display: grid;
  grid-template-columns: auto auto; /*En lugar de frames para fr, para mejor control del área de trabajo*/
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "product-image product-title"
    "product-image product-price"
    "product-image product-description"
    "product-delivery buttons";
  position: relative;
  margin: auto;
  width: 900px;
  height: 550px;
  top: 115px;
  align-content: center;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(69, 82, 85, 0.5);
  border-radius: 20px;
}

.product-image {
  grid-area: product-image;
}

.book-image {
  width: 486px;
  height: 486px;
  margin-top: -10px;
  margin-left: 8px;
}

.product-delivery {
  grid-area: product-delivery;
  display: inline;
}

.product-title {
  margin-top: 0px;
  grid-area: product-title;
  font-size: 23px;
  line-height: 54px;
  color: #455255;
}

.product-price {
  grid-area: product-price;
  font-size: 30px;
  margin-top: -110px;
  color: #328989;
}

.product-description {
  grid-area: product-description;
  margin-right: 50px;
  margin-top: -80px;
  text-align: justify;
}

.product-icon {
  grid-area: "product-delivery buttons";
  appearance: none;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  display: block;
  font-size: 15px;
  text-align: center;
  align-self: center;
  justify-content: center;
  color: #fff;
  white-space: nowrap;
  position: relative;
  background-color: #328989;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 50%;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
}

.delivery-info {
  grid-area: "product-delivery buttons";
  margin-right: 40px;
  margin-left: 70px;
  margin-top: -25px;
  font-size: 13px;
}

.buttons {
  grid-area: buttons;
}

.subscribe {
  position: absolute;
  width: 220px;
  height: 60px;
  top: 470px;
  appearance: none;
  background-color: #328989;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subscribe:hover {
  background-color: #75cdb5;
}

.subscribe:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.love {
  position: absolute;
  width: 67px;
  height: 60px;
  margin-left: 250px;
  top: 470px;
  appearance: none;
  background-color: #328989;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.love:hover {
  background-color: #75cdb5;
}

.love:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}
/*-------------------------------------------------FIN CONTENT---------------------------------------------------*/

/*---------------------------------------------------INICIO FOOTER-----------------------------------------------*/

footer {
  position: absolute; /*para fijar el footer al final del página*, junto con los ajustes de body y html de height 100%*/
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100vw;
  background: #b38c9c;
  height: 50px;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.copyright {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: right;
  margin-top: 25px;
}

.instagram {
  position: absolute;
  right: 90px;
  list-style: none;
  margin: 5px;
  font-size: 20px; /*Para cambiar el tamaño de los íconos*/
}

.twitter {
  position: absolute;
  right: 50px;
  margin: 5px;
  font-size: 20px;
}

/*-----------------------------------------------------FIN FOOTER-----------------------------------------------*/

/*---------------------------------------------------INICIO FORM-----------------------------------------------*/

.form {
  box-sizing: border-box; /* ajusta el container o wraper al contenido*/
  background: #fff;
  display: inline-block;
  margin-left: 37%;
  margin-right: 50%;
  height: 600px;
  padding: 16px 30px 30px;
  padding-top: 70px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 90px;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  padding: 0px;
  position: static;
  max-width: 300px;
  margin: 80px auto;
  height: auto; 
  top: 100px;
  margin: 2px 0px;
}

.form-logo {
  position: absolute;
  width: 72px;
  height: 71px;
  top: 10px;
  align-items: center;
  text-align: center;
}

.user-message {
  position: static;
  width: 228px;
  height: 60px;
  top: 100.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16.5px;
  line-height: 30px;
  text-align: center;
  color: #455255;
  margin: 10px;
}

.user-info1,
.user-info2,
.card-info,
security-info {
  margin-bottom: 10px;
}

label {
  position: static;
  width: 65px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #455255;
}

input {
  position: static;
  width: 65px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #455255;
  box-sizing: border-box;
  width: auto;
}

.name-label,
.lastname-label {
  display: block;
  box-sizing: border-box;
  width: auto;
}

.user-name,
.user-lastname {
  height: 40px;
  left: 0px;
  top: 20px;
  padding: 10px 0px 13px 25px;
  width: 100%;
  border: 1px solid #e2e6ee;
  border-radius: 10px;
  box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
  outline: none;
  font-size: 16px;
  color: #455255;
}

.card-number {
  height: 40px;
  left: 0px;
  top: 34px;
  padding: 13px 0px 13px 25px;
  width: 100%;
  border: 1px solid #e2e6ee;
  border-radius: 10px;
  box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
  outline: none;
  font-size: 16px;
  color: #9ea8bd;
  background: #e2e6ee;
}

.security-info {
  display: flex;
}

.expiration-date,
.cvv {
  width: 144px;
  height: 40px;
  left: 0px;
  top: 34px;
  background: #e2e6ee;
  border: 1px solid #e2e6ee;
  border-radius: 10px;
  justify-content: space-between; /*Para dar espacio entre los elementos del div */
}

.btn-payment {
  background-color: #328989;
  border: 2px solid #422800;
  border-radius: 10px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  width: 300px;
  height: 40px;
  left: 0px;
  top: 0px;
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
}

.btn-payment:hover {
  background-color: #fff;
}

.btn-payment:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
  margin-top: 10px;
}

@media (min-width: 768px) {
  .btn-payment {
    min-width: 120px;
    padding: 0 25px;
  }
}

.confirmation-message {
  width: 100%;
  box-sizing: content-box;
  height: 34px;
  left: 44px;
  top: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  align-self: center;
  color: #455255;
}

.error-message {
  font-style: italic;
  font-size: x-small;
  color: #cc0000;
}



/*------------------------------------------------------FIN FORM-----------------------------------------------*/


/*------------------------------------------------------INICIO ALERTS-----------------------------------------------*/

/* MODAL TARJETA INVÁLIDA */ 

 .closebtn-no {
  float: right;
  font-size: 15px;
  font-weight: bold;
 }

 .closebtn-no:hover {
  cursor: pointer;
 }

 .modal {
  display: none;
 }
 
 .modalcontent-no {
  position: absolute;
  font-family: Poppins;
  font-size: 15px;
  color:#ffebcd;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #EC7063;
  width: 45%;
  text-align: center;
  margin: 2%;
  top: 2%;
  left: 47%;
  transform: translate(-50%, -50%);
 }

/* MODAL TARJETA VÁLIDA */

 .closebtn-yes {
  float: right;
  font-size: 15px;
  font-weight: bold;
 }

 .closebtn-yes:hover {
  cursor: pointer;
 }

 .modal {
  display: none;
 }
 
 .modalcontent-yes {
  position: absolute;
  font-family: Poppins;
  font-size: 15px;
  color:#741c3c;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #82E0AA;
  width: 45%;
  text-align: center;
  margin: 2%;
  top: 2%;
  left: 47%;
  transform: translate(-50%, -50%);
 }


/*------------------------------------------------------FIN ALERTS-----------------------------------------------*/